<!DOCTYPE html>
<html>
<head>
  <title>ClearanceOmniauth</title>
  <%= stylesheet_link_tag    "clearance_omniauth/application" %>
  <%= javascript_include_tag "clearance_omniauth/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
